* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #050816;
    color: white;
    overflow-x: hidden;
}

/* Navbar */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(10, 15, 30, 0.7);
    backdrop-filter: blur(10px);
}

.logo {
    font-size: 28px;
    font-weight: bold;
    color: #38bdf8;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: white;
}

.nav-links a:hover {
    color: #38bdf8;
}

/* Hero Section */
.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
    background:
        radial-gradient(circle at center,
        rgba(56,189,248,0.25),
        transparent 50%);
}

.hero-content {
    max-width: 800px;
}

.hero h1 {
    font-size: 4rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2rem;
    color: #cbd5e1;
    margin-bottom: 40px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn {
    padding: 14px 28px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.primary {
    background: #38bdf8;
    color: black;
}

.primary:hover {
    transform: translateY(-3px);
}

.secondary {
    border: 1px solid #38bdf8;
    color: white;
}

.secondary:hover {
    background: rgba(56,189,248,0.15);
}